@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  color: white;
}

body {
  font-family: "Poppins", sans-serif;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: #a4f08fe7;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: #1a1d20;
}

/* // layer component  */
@layer components {
  .hero_title {
    @apply text-3xl sm:text-4xl md:text-5xl lg:text-6xl font-extrabold bg-gradient-to-r from-[#38E2F9] from-20% via-[#FFACC8] via-50%  to-[#FFF176] to-85% inline-block text-transparent bg-clip-text py-10;
  }

  .title_shadow {
    text-shadow: 0 1px 110px rgba(255, 172, 200, 0.5);
  }

  .display_title {
    @apply text-3xl md:text-4xl lg:text-5xl text-center pb-2 mb-2 md:pb-3 md:mb-9 bg-gradient-to-r from-10% via-35% to-85% inline-block text-transparent bg-clip-text;
  }

  .display_1 {
    @apply from-[#F7AB3A] via-white font-extrabold to-[#F7AB3A];
  }
  .display_1-shadow {
    text-shadow: 0 1px 110px rgba(247, 172, 59, 0.5);
  }

  .display_2 {
    @apply from-[#ec4079e7] via-white font-extrabold to-[#ec4079e7];
  }
  .display_2-shadow {
    text-shadow: 0 1px 110px rgba(236, 64, 121, 0.5);
  }

  .display_3 {
    @apply from-[#38E2F9] via-white font-extrabold to-[#38E2F9];
  }
  .display_3-shadow {
    text-shadow: 0 1px 110px rgba(56, 226, 249, 0.5);
  }

  .glow {
    filter: blur(72px);
    position: absolute;
    top: 0;
  }
}

/* custom css */
.blur__effect {
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
  box-shadow: 0 4px 30px #00000017;
  background: #ffffff50;
  z-index: 999;
}

.drop__shadow {
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.sign-up__hover:hover {
  box-shadow: 0 0 20px 20px #a4f08f1a;
  scale: 1.05;
}
.get-start__hover:hover {
  box-shadow: 0 0 70px 30px #a4f08f38;
  scale: 1.05;
}

.mobile_menu {
  display: none;
  cursor: pointer;
}

.menu_box {
  width: 28px;
  height: 25px;
  display: flex;
  margin-left: 30px;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.5s ease-in-out;
}

.menu_box span {
  width: 100%;
  height: 3px;
  border-radius: 50px;
  background-color: white;
  transition: all 0.5s ease-in-out;
}

.animate {
  transform: rotate(180deg);
  transition: all 0.6s ease-in-out;
}

.animate span:nth-child(1) {
  margin-left: 10px;
  transform: rotate(-45deg) translate(-50%, 50%);
}
.animate span:nth-child(2) {
  width: 0px;
  opacity: 0;
  transition: all 0.2s ease-in-out;
}
.animate span:nth-child(3) {
  margin-left: 10px;
  transform: rotate(45deg) translate(-50%, -50%);
}

.hero_coins_mask {
  mask-image: linear-gradient(
    to right,
    hsl(0 0% 0% / 0) 0%,
    hsl(0 0% 0% / 1) 10%,
    hsl(0 0% 0% / 1) 90%,
    hsl(0 0% 0% / 0)
  );
}
.coins_mask {
  mask-image: linear-gradient(
    to bottom,
    hsla(0, 0%, 0%, 1) 10%, /* Adjust the percentage for the black portion */
    hsla(0, 0%, 0%, 0) 90%,
    hsl(0 0% 0% / 0)
  );
  mask-repeat: no-repeat;
  mask-size: 100% 100%;
}
